@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tillana:wght@500&display=swap');

.recipeFullCard {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: rgba(220, 204, 192, 0.5);
  border-radius: 5px;
  padding: 20px;
}
.recipe {
  width: 100%;
  background: url("https://gifdb.com/images/high/anime-food-cooking-breakfast-3fpdmic4i3og5dxe.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-height: 400px;
}
.circle_recipe {
  background-color: #DCCCC0;
  width: 90px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-left: 10px;
  flex-direction: column;
}
.circle_recipe h2 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color:  #542307;
  margin: 0;
}

.circle_recipe p {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 13px;
  color:  #542307;
  margin: 0;
}

.description h2 {
  font-family: "Tillana";
  font-weight: 500;
  font-size: 75px;
  padding-left: 10px;
  color:  #542307;
  position: relative;
}

.content {
  width: 100%;
  background: rgba(220, 204, 192, 0.5);
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px 4px #DCCCC0;
  border-radius: 5px;
  padding: 5px;
}


.column {
  float: left;
  width: 50%
}

.row:after {
  content: "";
  display: table;
  clear: both;
}