@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

.mainList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}

#sifterLogo {
  display: flex;
  justify-content: center;
  padding-right: 0;
}

#sifterLogo > a {
  display: flex;
  justify-content: center;
}

#sifterLogo > a > img {
  width: 20%;
}

.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px 15px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  width: 100%
}

.google-btn:hover {
  background-color: #eee;
}

.google-btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(66, 133, 244, 0.3);
}

.google-btn span {
  margin-left: 10px;
}