.headerNav {
  width: 100%;
  border-bottom: 1px solid #E7E5E8;
  margin-bottom: 30px;
}

.headerNavList {
  display: flex;
  justify-content: space-between;
  padding-inline-end: 100px;
  padding-inline-start: 100px;
}

.headerNavList > li {
  display: flex;
  min-width: 180px;
  list-style: none;
  align-self: center;
}

.headerNavList li:last-child {
  display: flex;
  min-width: 210px;
  justify-content: space-between;
  align-self: right;
}