.headerNav {
  width: 100%;
  border-bottom: 1px solid #E7E5E8;
  margin-bottom: 30px;
}

.headerNavList {
  display: flex;
  justify-content: space-between;
  display: flex;
  padding-inline-end: 40px
}

.headerNavList > li {
  list-style: none;
  padding-right: 10px;
  align-self: center;
}